.app {
  padding-top: 1em;
  text-align: center;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

html {
  background: #4b79a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #283e51,
    #4b79a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #283e51,
    #4b79a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.stream-player {
  display: inline-flex;
  margin: 0.5em;
  /* border: 1px solid white; */
  background-color: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
